name: check
on:
  - pull_request
jobs:
  check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - run: corepack enable
    - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
    - run: yarn --immutable
    - name: lint
      run: yarn lint:ci
    - name: build
      run: yarn build
