name: check
on:
  - pull_request
jobs:
  check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - run: corepack enable
    - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
    - run: yarn --immutable
    - name: lint
      run: yarn lint:ci
    - name: build
      run: yarn build
